include simple_playgrounds/utils/configs/agent_parts.yml
include simple_playgrounds/utils/configs/agent_sensors.yml
include simple_playgrounds/utils/configs/element_basic.yml
include simple_playgrounds/utils/configs/element_contact.yml
include simple_playgrounds/utils/configs/element_interactive.yml
include simple_playgrounds/utils/configs/element_proximity.yml
include simple_playgrounds/utils/configs/element_zone.yml
include simple_playgrounds/utils/configs/playground.yml