# Include requirements:
include requirements.txt

# Include configs:
include src/simple_playgrounds/configs/agent_parts.yml
include src/simple_playgrounds/configs/agent_sensors.yml
include src/simple_playgrounds/configs/element_activable.yml
include src/simple_playgrounds/configs/element_conditioning.yml
include src/simple_playgrounds/configs/element_basic.yml
include src/simple_playgrounds/configs/element_contact.yml
include src/simple_playgrounds/configs/element_gem.yml
include src/simple_playgrounds/configs/element_proximity.yml
include src/simple_playgrounds/configs/element_teleport.yml
include src/simple_playgrounds/configs/element_zone.yml
include src/simple_playgrounds/configs/playground.yml


